body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff; /* White background */
}

header {
  background: #fff;
  padding: 10px 20px;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}
